header{
    width: 1440px;
    height: 160px;
}

.golovka{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.golovka_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.golovka_box1{
    display: flex;
    flex-direction: row;
}

.golovka_box2{
    display: flex;
    flex-direction: row;
}

.text{
    display: flex;
    flex-direction: row;
}

.textj{
    font-family: 'Regular', Roboto;
    color: #2A2A2A; 

    display: flex;
    flex-direction: row;
}

.choto{
    display: flex;
    justify-content: space-evenly;
}

.n{
    border-width: 1px;
}

.a{
    color: #B3B3B3;
}

.kartinki{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.kartinka{
    display: flex;
    flex-direction: row;
}

.seriy{
    color: #A8A8A8;

    margin-left: 5px;
}

.cena{
    display: flex;
    flex-direction: row;

    margin-top: -20px;
}

.c{
    color: #808080;
}

.k{
    color: #FF3451;

    margin-left: 5px;
}

.knopka{
    display: flex;
    justify-content: center;

    margin-top: 85px;
}

.knop{
    width: 302px;
    height: 56px;

    background-color: #1A1A1A;
    color: #F7F7F7;

    transition: 2s;

    border: none;
} 

.knop:hover{
    transition: 2s;

    color: #1A1A1A;
    background-color: #F7F7F7;

    border: 1px solid #1A1A1A
}

.fone_box{
    width: 80%;
    height: 80%;
    
    display: flex;
    flex-direction: column;

}

.pravo{
    width: 100%;
    height: 33%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.mega_anal{
      border-radius: 200px;

      width: 100px;
      height: 100px;

      background-color: #7E6E45;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      font-size: 12px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 21px;

      color: #F7F7F7;
}

.mega_anal p{
    width: 60%;
}

.anal{
    background-image: url(Rectangle\ \(17\).png);

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ultra{
    
}